
footer span{
	margin-left: 10px;
}

footer a{
	font-family: 'Lobster', cursive;
	text-decoration: none;
	color: white;
}

.wrapper{
	margin: 0 auto;
	max-width: 90%;
}

.clear{
	clear: both;

}



@media only screen and (max-width: 920px) {
	section{
		width: 60%;
	}
	aside{
		width: 40%;
	}


}


@media only screen and (max-width: 600px) {



	section{
		width: 100%;
	}
	aside{
		width: 100%;
		padding: 0px;
		margin-bottom: 15px;
	}

	nav{
		margin-top: 0px;
		width: 100%;
	}

	nav li{
		margin: auto;
		width: 100%;
	}

	h1{
		float: none;
		text-align: center;
	}

	header{
		padding-top: 1px;
		text-align: center;
	}
}
